#container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    
}

#op{
 
}
.results{
    display: flex;
    gap: 40px;
}

button{
    width: 100px;
    height: 100px;
}
.number{
   border-color: aquamarine;
}